:root {
    --amarelo: #f5bb23ff;
    --opacidade: rgba(245, 186, 35, 0.205);
    /* --amarelo: #d37f01; */
    --laranja: rgb(204, 117, 3);
    --branco: #fff;
    --preto: #000000ff;
    --cinza-escuro: #0a0a0aff;
    --cinza-claro: #131312;
    --prata: #b3b9bb;
    --rosa: #df2f2fff;
    --azul-escuro: #2a69ecff;
    --verde: #1ba84fff;
    --azul: #0a97b7ff;

    --cor-principal-rgb: 245 158 11;
    --fonte-corpo: 'Inter', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(0 0 0 / 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

    .menu {
        display: flex;
        align-items: center;
    }

        .botao-menu-mobile {
            margin-left: auto;
        }

    header .menu-mobile {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;
    }

        .menu-mobile .link {
            color: white;
        }

        .menu-mobile .botao {
            margin-top: 1rem;
        }


/* ------ Conteúdo ------ */
    
main {
    background-color: var(--preto);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    section .conteudo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
    }

        #capa::before, #capa::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            width: 18rem;
            height: 18rem;
            background-color: var(--amarelo);
            filter: blur(64px);
            opacity: 0.05;
        }

        #capa::before {
            top: 5rem;
            left: 2.5rem;
        }

        #capa::after {
            right: 2.5rem;
            bottom: 5rem;
        }

        #capa .conteudo {
            flex-direction: column;
            align-items: center;
        }

            #capa .botoes {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
            }

/* Classes gerais */

.etiqueta {
    background-color: rgb(var(--cor-principal-rgb) / 0.1);
    border: 1px solid rgb(var(--cor-principal-rgb) / 0.3);;
    color: var(--amarelo);
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

    .etiqueta i {
        font-size: 1rem;
    }

    .etiqueta span {
        font-weight: 500;
    }

.botao {
    background: linear-gradient(135deg, var(--amarelo), var(--laranja));
    color: #000;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
}


.botao-fantasma {
    background-color: transparent;
    color: var(--amarelo);
    border-radius: 15px;
    border: 1px solid var(--amarelo);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-align: center;
}

footer {
    background-color: var(--preto);
}

/* Estilos de tags */
h1 {
    color: #fff;
    line-height: 1.25em;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    color: #fff;
    line-height: 1.25em;
    text-wrap: balance;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.25rem;
    line-height: 1.625;
    color: var(--prata);
}

ul {
    font-size: 18px;
    color: #b3b9bb;
}



/* Estilos de classes */

.logotipo {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--amarelo);
}



.container {
  width: 100%;
  max-width: 1200px;  /* largura máxima do site */
  margin: 0 auto;      /* centraliza o conteúdo */
  padding: 0 1rem;     /* espaçamento lateral */
  box-sizing: border-box;
}

.fundo-inicio {
    background-image: radial-gradient(circle at 20% 50%, rgba(212, 175, 55, 0.1) 0%, transparent 50%), radial-gradient(circle at 80% 80%, rgba(212, 175, 55, 0.08) 0%, transparent 50%);
}

    .banner_titulo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        margin: 1.5rem;

    }
        .banner_titulo h1 {
            font-size: 3rem;
        }

        .banner_titulo span {
            color: var(--amarelo);
        }


    .banner_botao {
        background-color: var(--amarelo);
        color: #000;
        text-align: center;
        height: 3rem;
    }

    .banner_botao2 {
        border: 1px solid var(--amarelo);
        border-radius:0.5rem;
        text-align: center;
        height: 4rem;
        padding: 1rem;
    }

/* Vantagens */

    .vantagens {
        background-color: rgba(250, 181, 5, 0.068);
        border: 1px solid var(--opacidade);
        color: var(--amarelo);
        border-radius: 1rem;
        height: 10rem;
        width: 24rem;
        margin: 0.7rem 0; 
        padding: 1.5rem 0;
        text-align: center;
    }
        .vantagens h3 {
            color: var(--amarelo);
            font-size: 1.125rem;
            font-weight: 700;
        }

        .vantagens span {
            color: var(--prata);
            font-size: 0.875rem;
            line-height: 1.625rem;
        }

    .vantagens_icon {
        font-size: 2.5rem;
    }

    .vantagens_texto {
        text-align: center;
        margin: 0.5rem;
    }

/* Parceiros */

    #parceiros {
        background: linear-gradient( var(--preto), var(--cinza-escuro));
        padding-top: 10rem;
    }

    .parceiros_titulo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        margin: 0 0 3rem;
    }
        .parceiros_titulo span {
            color: var(--amarelo);
        }

        .parceiros_titulo h3 {
            color: var(--branco);
        }

    .parceiros-caixas {
        display: block;
        flex-direction: column;
        gap: 1rem;
    }

    .parceiros {
        background: var(--cinza-claro);
        border: 1px solid #aaa9a673;
        border-radius: 1rem;
        flex: 1;
        margin-bottom: 2rem;
        position: relative;
        overflow: hidden;
    }
        .parceiros h3 {
            color: var(--branco);
            font-size: 1.5rem;
            font-weight: 700;
        }

    .parceiros-bv, .parceiros-limpeza, .parceiros-seguranca, .parceiros-manutencao, .parceiros-piscina {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .parceiros-imagem {
        background: var(--branco);
        width: 100%;
        padding: 1rem 2rem;
        border: 1px solid var(--prata);
    }

    .imagem-clean {
        padding-top: 0.5rem;
        padding-bottom: 1.55rem;
    }



    .parceiros_texto {
        padding: 0 3rem 3rem 3rem;
    }

    .parceiros-icon {
        padding: 1rem;
        border-radius: 1rem;
        color: var(--branco);
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
    }
        .icon-laranja {
            background: linear-gradient(135deg, #f7b620ff, var(--laranja));
        }
        .icon-azul-escuro {
            background: linear-gradient(135deg, #599df8ff, var(--azul-escuro));
        }
        .icon-rosa {
            background: linear-gradient(135deg, #f46767ff, var(--rosa));
        }
        .icon-verde {
            background: linear-gradient(135deg, #43d679ff, var(--verde));
        }
        .icon-azul {
            background: linear-gradient(135deg, #1fcbe7ff, var(--azul));
        }

        .explicacao {
            color: var(--prata);
            font-size: 1.125rem;
            line-height: 1.625rem;
        }

        .parceiros a {
            color: var(--amarelo);
            font-weight: 600;
        }

    .parceiros_texto {
        margin: 1.5rem 0;
    }

    .parceiros_rodape {
        margin: 2rem 0;
        text-align: center;
    }
    
/* Passos */

    #passos {
        background-color: var(--preto);
        padding: 5rem 1rem;
    }

    .passos_titulo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        margin: 0 0 3rem;
    }
        .passos_titulo span {
            color: var(--amarelo);
        }

    .caixas-passos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .passos {
        background: linear-gradient(135deg, var(--cinza-claro), var(--cinza-escuro));
        border: 1px solid #aaa9a673;
        border-radius: 1rem;
        padding: 2rem;
        flex: 1;
    }

     .passos-cadastro, .passos-indique, .passos-pontos, .passos-resgate {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; 
        margin-top: 3rem;
     }

        .passos-texto span {
            font-size: 0.875rem;
        }

        .passos h3 {
            color: var(--branco);
            font-size: 1.5rem;
            font-weight: 700;
        }

        .passos span {
            color: var(--prata);
            font-size: 1.125rem;
            line-height: 1.625rem;
        }

    .passos-icon {
        background: linear-gradient(135deg, var(--amarelo), var(--laranja));
        padding: 1rem;
        border-radius: 1rem;
        color: var(--preto);
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 4rem;
    }

    .passos_rodape {
        background-color: #170f02ff;
        border: 1px solid var(--amarelo);
        border-radius: 23em;
        padding: 2rem;
        color: var(--branco);
        text-align: center;
        margin: 2rem 0;
        font-weight: 700;
    }

/* recompensas */

    #recompensas {
        background: linear-gradient( var(--cinza-claro), var(--preto));
    }

    .recompensas_titulo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        margin: 0 0 3rem;

    }
        .recompensas_titulo span {
            color: var(--amarelo);
        }

    .recompensas-geral {
        display: flex;
        flex-direction: column;
    }

    .recompensas {
        background: linear-gradient(135deg, var(--cinza-claro), var(--cinza-escuro));
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid #aaa9a673;
        height: 40rem;
        margin: 1rem 0;
    }
        .recompensas h3 {
            color: var(--branco);
            font-size: 1.875rem;
            font-weight: 700;
        }

        .recompensas a, i {
            color: var(--amarelo);
            font-size: 1.125rem;
            font-weight: 600;
        }

        .recompensas span {
            color: var(--prata);
            font-size: 1.125rem;
            line-height: 1.625rem;
        }

    .recompensas-imagem {
        height: 20rem;
        border: 1px solid #aaa9a621;
        border-radius: 1rem 1rem 0 0;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

        .recompensas-imagem img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }

  

    .recompensas-texto {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1.5rem;   
    }

    
/* Indicar */

    .indicar .conteudo {
        background-color: rgba(250, 181, 5, 0.068);
        border: 1px solid var(--amarelo);
        border-radius: 1rem;
        text-align: center; 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        width: 100%;
    }

        .indicar i {
            color: var(--amarelo);
            font-size: 3rem;
        }

        .indicar h3 {
            color: var(--branco);
            font-size: 1.875rem;
            font-weight: 700;
        }

        .indicar a {
            background: linear-gradient(135deg, var(--amarelo), var(--laranja));
            color: #000;
            border-radius: 15px;
            font-size: 1rem;
            font-weight: 700;
            padding: 1rem 1.5rem;
            text-align: center;
        }

        .indicar span {
            color: var(--prata);
            font-size: 1.125rem;
            line-height: 1.625rem;
        }

/* Formulario */

        #secao-formulario {
            background-image: radial-gradient(circle at 90% 80%, rgba(212, 175, 55, 0.1) 0%, transparent 50%), radial-gradient(circle at 80% 80%, rgba(212, 175, 55, 0.08) 0%, transparent 50%);
        }

        .formulario-titulo {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            margin: 3rem 0;
            align-items: center;
        }
            .formulario-titulo span {
                color: var(--amarelo);
            }
        
        .formulario {
            background-color: #aaa9a621;
            border: 1px solid var(--amarelo);
            border-radius: 1rem;
            height: 50rem;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
            .formulario input {
                background-color: #aaa9a621;
                border: 1px solid var(--prata);
                border-radius: 0.5rem;
                padding: 1rem;
                width: 20rem;
                margin: 0.5rem 0 1rem 0;
                color: var(--prata);
            }

            .formulario label {
                font-size: 0.875rem;
                color: var(--branco);
                margin: 1.5rem 0;
            }

            .formulario button {
                background: linear-gradient(135deg, var(--amarelo), var(--laranja));
                border: none;
                color: #000;
                border-radius: 15px;
                font-size: 1rem;
                font-weight: 700;
                padding: 1rem 1.5rem;
                text-align: center;
                margin: 2rem;
            }

            .formulario span {
                color: var(--prata);
                font-size: 1.125rem;
                line-height: 1.625rem;
                text-align: center;
            }
            
            .formulario .obrigatorio::after {
                content: '*';
                color: red;
                margin-left: 0.3rem;

            }
            
/* Footer */



        .rodape {
            padding: 2rem;
            padding-top: 5rem;
        }

        .rodape-titulo {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;
            gap: 1rem;
        }
            .rodape-titulo span {
                color: var(--prata);
                font-size: 0.875rem;
                line-height: 1.625rem;
            }



        .rodape-lista {
            margin: 2rem 0;
        }
        .rodape-lista ul {
            list-style-type: none;
        }

            .rodape-lista li {
                margin: 0.5rem 0;
                font-size: 0.875rem
            }

            .rodape h3 {
                color: var(--amarelo);
                font-size: 1.5rem;
            }

            .rodape-lista span {
                color: var(--branco);
                font-size: 1.125rem;
                line-height: 1.625;
                font-weight: 600;
            }

            .formulario-icon {
                color: var(--amarelo);
                font-size: 1.125rem;
                font-weight: 600;
            }

            .rodape-lista i {
                color: var(--amarelo);
            }

        .creditos {
            color: var(--prata);
            text-align: center;
            padding: 0.5rem 1rem;
        }
    

@media (max-width: 768px) {
    .none-mobile {
        display: none !important;
    }
}

/* Classes gerais */
.none {
    display: none !important;
}


@media (min-width: 768px) {

    header {     
        flex-direction: row;
    }

    .botao-menu-mobile {
        display: none;
    }

    header .menu-mobile {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin-left: auto;
        gap: 2rem;
    }

    header .menu-mobile .botao {
        margin: 0;
    }

    .container {
        padding: 0 16px;
    }

    /* Main */
    #vantagens .conteudo {
        flex-direction: row;
        gap: 2rem;
    }

    #passos .caixas-passos {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    #recompensas {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .parceiros_geral {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .parceiros_geral .parceiros {
            width: 30%;
            flex: none;
        }


    #secao-formulario .conteudo {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

        #secao-formulario .formulario-titulo {
            width: 40%;
            align-items: baseline;
            text-align: left;
        }

        #secao-formulario .formulario {
            width: 50%;
        }

            #secao-formulario form {
                display: flex;
                flex-direction: column;
            }

                #secao-formulario form label {
                    margin: 0;
                }

                #secao-formulario form input {
                    width: 100%;
                    margin: 0.5rem 0 1.5rem 0;
                }
    
}

@media (min-width: 414px) {

h2 {
    font-size: 3rem;
}

  .banner_titulo {
    margin: 0;
    height: 32rem;
  }

    .banner_titulo h1 {
        font-size: 4.5rem;
    }

  .parceiros_geral {
    display: flex;
    margin: 1rem 0;
  }

  .vantagens {
    margin: 0.5rem;
    width: 20rem;
    height: 10rem; 
  }

  .parceiros {
    display: block;
    margin: 1rem;
    width: 100rem;
    height: 20rem;
  }

  .recompensas-geral {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .recompensas {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 80rem;
    height: 30rem;
  }

  .recompensas-layout-2 {
    display: flex;
    flex-direction: row-reverse;  
  }

  .recompensas-imagem {
    border-radius: 1rem 0 0 1rem;
    width: 40rem;
    height: 29.8rem;
    border: 1px solid #aaa9a621;
  }

    .recompensas h3 {
        font-size: 2.25rem;
    }

  .recompensas-texto {
    margin: 10rem 1.5rem;
  }

  .formulario {
    display: block;
    
  }

  .rodape {
    display: flex;
    justify-content: center;
  }

  .rodape-lista {
    margin: 5rem;
  }

}
